.logo {
    display: inline-block;
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    @media (max-width:767px){
    margin: 16px 0 16px 15px;
}
    @media (min-width:1200px){
    font-size: 26px;
        line-height: 1.19;
    }
&__text {
        color: $primary-black-color;
        font-family: Raleway, sans-serif
    }
&__text--footer{
color: $primary-white-color;
}
}
