/* PROJECT Portfolio*/

@media (min-width: 1200px) {
  .example-works {
    // margin-right: 30px;
    // margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--primary-white-color);
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.project {
  display: flex;
  flex-wrap: wrap;
  .example-works {
    // margin-right: 30px;
    // margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--primary-white-color);
  }
}
.our-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  .content-name {
    font-size: 16px;
    line-height: 1.87;
  }
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: $header-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  &-discr-overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    background-color: $bcg-overlay;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.text-overlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
@media (max-width: 1199px) {
  .project-title {
    font-size: 16px;
  }
}

.thumb-pic {
  position: relative;
  overflow: hidden;
}

.example-works {
  &:hover .content-discr-overlay {
    transform: translateY(0);
  }
}

.example-works {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

// WH-08

@media (max-width: 767px) {
  .button-list-portfolio {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .content-discr-overlay {
    width: 100%;
  }
  .text-overlay {
    padding: 24px 24px;
    font-size: 14px;
    line-height: 28px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .project {
    display: inline-block;
  }
  .example-works {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: -15px;
  }

  .example-works {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .example-works {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
