$main-text-color: #757575;
$header-text-color: #212121;
$primary-white-color: #FFFFFF;
$primary-black-color: #000000;
$hero-bcg-color: #2F303A;
$accent-color: #2196F3;
$our-advances-bcg-color: #F5F5F5;
$our-team-bcg-color: #F5F4FA;
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-link-adress-color: rgba(255, 255, 255, 1);
$social-link-fill:#AFB1B8;
$bcg-our-works-card: rgba(47, 48, 58, 0.8);
$bcg-overlay:rgba(33, 150, 243, 0.9);